body{
        font-family: Verdana, Arial, sans-serif;
        background-color: #ffffff;
        background-layer-color: #ffffff;
        font-size: medium;
        color: #333333;
}

div.headernavigation{
        float: left;
        list-style: none;
        display: block inline;
        padding: 0px 4px;
        border: 1px solid #000;
        TEXT-DECORATION: none;
        font-size: medium;
        font-weight: bold;
        color: #006699;
        background-color: #ADADAD;
}

a.headernavigationL:link,a.headernavigationL:visited,a.headernavigationL:active{
        color: #006699;
}

.break{
 border-bottom: 1px dotted #9e9e9e;
padding: 5px;
overflow: auto;

}


.textLabel{
        font-weight: bold;
}

.listResultsHeader{
	background-color: #99CCCC;
        font-weight: bold;
}


.warning{
        font-weight: bold;
        color: #FF0000;
}

.listResults{
        margin-left: 0;
	padding: 3px 3px;
	border-right: 1px solid #000;
	list-style: none;
	display: inline;
}

li.odd{
        background-color: #FFFFFF;
}

li.even{
        background-color: #B4E0B4;
}


ol,ul,li { 
        list-style:none; 
        margin: 0;
        padding: 0;
}

dt {
        font-weight: bold;
}

#budget dt {
        list-style:none;
        font-weight: bold;
        display: inline;
}
#budget dd {
        list-style:none;
        display: inline;
}

