.clwPopupFacade .clwPopupFacadeTitle {
    background: white;
    border:0;
    padding:1px 1px 1px 1px;
    cursor: pointer;
}


/* TODO: merge these, and all other icons to a series of background-image:() and background-position: -16*n px styles */
.clwPopupFacade .dijitArrowNode {
    float:left;
}
.clwPopupFacade .dijitClosed .dijitArrowNode {
    
}

.clwPopupFacadeFocused .clwPopupFacadeTextNode {
}

.dj_ie6  .clwPopupFacade .dijitClosed .dijitArrowNode {

}
.clwPopupFacade .dijitOpen .dijitArrowNode {

}

.dj_ie6  .clwPopupFacade .dijitOpen .dijitArrowNode {

}
.clwPopupFacade .dijitArrowNodeInner {
    visibility:hidden;
}
.dijit_a11y .clwPopupFacade .dijitArrowNodeInner {
    visibility:visible;
}

.clwPopupFacadeTitle .dijitOpenCloseArrowOuter {
    margin-right:5px;
}

.dijitOpen .clwPopupFacadeTitle .dijitOpenCloseArrowOuter {
    position:relative;
    top:2px;
}

.clwPopupFacadeContentOuter {
    background: white;
}

.clwPopupFacadeContentInner {
    padding:1px 10px 1px 5px;

}
/* force hasLayout to ensure borders etc, show up */
.dj_ie6  .clwPopupFacadeContentOuter,
    .dj_ie6  .clwPopupFacade .clwPopupFacadeTitle {
    zoom: 1;
}
.dijitClickableRegion {
    background-color : #ffc !important;
}


a.categorymenulevel_1:link, a.categorymenulevel_1:visited , a.categorymenulevel_1:active {
    color: #000000;
    display:block;
}

a.categorymenulevel_1:hover{
    color: #336666;
    display: block;
}

a.categorymenulevel_2:link,  a.categorymenulevel_2:visited,  a.categorymenulevel_2:active {
    color: #000000;
    display:block;
}

a.categorymenulevel_2:hover {
    color: #336666;
    display: block;
}

a.categorymenulevel_1_block:link,
    a.categorymenulevel_1_block:visited,
    a.categorymenulevel_1_block:active,
    a.categorymenulevel_1_block:hover {
    color: #000000;
}

a.categorymenulevel_2:link,
    a.categorymenulevel_2:visited,
    a.categorymenulevel_2:active {
    color: #000000;
}

a.categorymenulevel_2:hover {
    color: #336666;

}

a.categorymenulevel_2_block:link,
    a.categorymenulevel_2_block:visited,
    a.categorymenulevel_2_block:active,
    a.categorymenulevel_2_block:hover {
    color: #000000;
}

a.categorymenulevel_3:link,
    a.categorymenulevel_3:visited,
    a.categorymenulevel_3:active {
    color: #000000;
    height:100%;
    width:100%;
    vertical-align:top;
}

a.categorymenulevel_3:hover {
    color: #336666;
    height:100%;
    width:100%;
    vertical-align:top;
}

a.categorymenulevel_3_block:link,
    a.categorymenulevel_3_block:visited,
    a.categorymenulevel_3_block:active,
    a.categorymenulevel_3_block:hover {
    color: #000000;
    height:100%;
    width:100%;
    vertical-align:top;

}

