@import url("../../../../dijit/themes/dijit.css");

/* Menu.css*/
.dj_safari .CLW .dijitPopup .dijitTooltipContainer,
    .dj_safari .CLW .dijitPopup .dijitMenu {

    -webkit-box-shadow: 0px 5px 10px #adadad;
}

.CLW .dijitPopup > div,
    .CLW .dijitPopup > table {
    opacity: 1;
}

.CLW .dijitMenu {
    border: 0;
    margin: 0;
    padding: 0;
    background: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #003399;
}

.CLW .dijitMenuItem {
    background: url( images/submenuBg.gif );
    text-decoration: none;
    color: #003399;
    font-weight: bold;
}

.CLW .dijitMenuPreviousButton, .CLW .dijitMenuNextButton {
    font-style: italic;
}

.CLW .dijitMenuItem td {
    background: url( images/submenuBg.gif );
}

.CLW .dijitMenuItemHover {
}

.CLW .dijitMenuItemIcon {
    width: 0;
    height: 0;
}

.CLW .dijitMenuExpand {
    display: none;
}

.CLW .dijitMenuExpandEnabled {
    width: 0;
    height: 0;

}

.CLW .dijitMenuExpandInner {
    display: none;
}

.CLW .dijitMenuSeparator {
    background-color: #f7f7f7;
}

.CLW .dijitMenuSeparatorTop {
    border-bottom: 1px solid #9b9b9b;
}

.CLW .dijitMenuSeparatorBottom {
    border-top: 1px solid #e8e8e8;
}
.CLW .xpedxMainMenuTab {
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding:0;
    margin:0;
    color: #FFFFFF;
    cursor: pointer;
    cursor: hand;
    background: url( images/mainmenubg.gif );
}

.CLW .xpedxMainMenuTabHover {
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding:0;
    margin:0;
    color: #FFFFFF;
    cursor: pointer;
    cursor: hand;
    background: url( images/mainmenubg.gif );
}

.CLW .xpedxMainMenuTabUnhover {
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding:0;
    margin:0;
    color: #003399;
    background: url( images/mainmenubgInvert.gif );
}

.CLW .bgXSubmenuTopCenter {
    background: transparent url( images/submenuTopCenter.gif ) repeat-x left;

}

.CLW .bgXSubmenuTopLeft {
    background: transparent url( images/submenuTopLeft.gif ) no-repeat right;
    width: 11px;
    height: 8px;
}

.CLW .bgXSubmenuTopRight {
    background: transparent url( images/submenuTopRight.gif ) no-repeat left;
    width: 11px;
    height: 8px;
}

.CLW .bgXSubmenuCenterLeft {
    background: transparent url( images/submenuCenterLeft.gif ) repeat-y right;
    width: 11px;
}

.CLW .bgXSubmenuCenterRight {
    background: transparent url( images/submenuCenterRight.gif ) repeat-y left;
    width: 11px;
}

.CLW .bgXSubmenuBottomCenter {
    background: transparent url( images/submenuBottomCenter.gif ) repeat-x left;

}

.CLW .bgXSubmenuBottomLeft {
    background: transparent url( images/submenuBottomLeft.gif ) no-repeat right;
    width: 11px;
    height: 8px;
}

.CLW .bgXSubmenuBottomRight {
    background: transparent url( images/submenuBottomRight.gif ) no-repeat left;
    width: 11px;
    height: 8px;
}

/* Calendar.css*/
.CLW .dijitCalendarIncrementControl {

    width: 15px;
    height: 15px;
    font-size: 1px;
}

.dj_ie6 .CLW .dijitCalendarIncrementControl {
    padding: .1em;
}

.CLW .dijitCalendarIncreaseInner,
    .CLW .dijitCalendarDecreaseInner {
    visibility: hidden;
}

.CLW .dijitCalendarDecrease {
    background: url( "images/cal_decrease_month.png" ) no-repeat;
}

.dj_ie6 .CLW .dijitCalendarDecrease {
    background: url( "images/cal_decrease_month.gif" ) no-repeat bottom;
}

.CLW .dijitCalendarIncrease {
    background: url( "images/cal_increase_month.png" ) no-repeat;
}

.dj_ie6 .CLW .dijitCalendarIncrease {
    background: url( "images/cal_increase_month.gif" ) no-repeat bottom;
}

.CLW table.dijitCalendarContainer {
    font-size: 100%;
    width:100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 0;
    margin: 0;
    background: white;
}

.CLW .dijitCalendarMainContainer {
    font-size: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 0;
    margin: 0;
    background: #333333;

}

.CLW .dijitCalendarPaddingLeft {
    width: 1px;  background: #333333;
}

.CLW .dijitCalendarPaddingRight {
    width: 1px;   background: #333333;
}

.CLW .dijitCalendarMonthContainer th {
    background: #333333;
    padding-top: .3em;
    padding-bottom: .2em;
    text-align: center;
}

.dj_ie6 .CLW .dijitCalendarMonthContainer th {
    padding-top: .1em;
    padding-bottom: 0em;
    background: #333333;
}

.CLW .dijitCalendarDayLabelTemplate {

    font-weight: normal;
    padding-top: .15em;
    padding-bottom: 0.4em;
    background: #333333;
    border: 0;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

.CLW .dijitCalendarBodyContainer {
    background: white;
}

.CLW .dijitCalendarMonthLabel {
    color: #ffffff;
    font-weight: bold;
    font-size:12px;
    background: #333333;

}

.dj_ie7 .CLW .dijitCalendarDateTemplate,
    .dj_ie6 .CLW .dijitCalendarDateTemplate {
    font-size: 0.8em;
    background-color: white;
}

.CLW .dijitCalendarDateTemplate {

    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 0.3em 0.3em 0.2em 0.3em;

    background-color: white;
}

.CLW .dijitCalendarWeekTemplate {
    background: white;
}

.CLW .dijitCalendarPreviousMonth,
    .CLW .dijitCalendarNextMonth {

    color: #999999;
    background: white;
    visibility: hidden;

}

.CLW .dijitCalendarPreviousMonthDisabled,
    .CLW .dijitCalendarNextMonthDisabled {

    background: red;
}

.CLW .dijitCalendarCurrentMonth {

    background: white;
}

.CLW .dijitCalendarCurrentMonthDisabled {

    background: red !important;
}

.CLW .dijitCalendarCurrentDate {

    text-decoration: underline;
    font-weight: bold;
}

.CLW .dijitCalendarCurrentDate {

    text-decoration: underline;
    font-weight: bold;
}

.CLW .dijitCalendarSelectedDate {

    background-color: #bbc4d0 !important;
    color: black !important;
}

.CLW .dijitCalendarFootContainer {
    border: 0;
    background-color: #333333 !important;
}

.CLW .dijitCalendarFooterLabel {
    text-decoration: underline;
    text-align: center;
    color: white;
    cursor: pointer;
    cursor: hand;
}

.CLW .dijitCalendarDisabledDate {
color:gray !important;

}
.CLW .dijitCalendarFootContent {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;  

}



