@import url("../../../../dijit/themes/dijit.css");

/* Menu.css*/
.dj_safari .NewXpedx .dijitPopup .dijitTooltipContainer,
    .dj_safari .NewXpedx .dijitPopup .dijitMenu {

    -webkit-box-shadow: 0px 5px 10px #adadad;
}

.NewXpedx .dijitPopup > div,
    .NewXpedx .dijitPopup > table {
    opacity: 1;
}

.NewXpedx .dijitMenu {
    border: 0;
    margin: 0;
    padding: 0;
    background: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #003399;
}

.NewXpedx .dijitMenuItem {
    background: url( images/submenuBg.gif );
    text-decoration: none;
    color: #003399;
    font-weight: bold;
}

.NewXpedx .dijitMenuPreviousButton, .NewXpedx .dijitMenuNextButton {
    font-style: italic;
}

.NewXpedx .dijitMenuItem td {
    background: url( images/submenuBg.gif );
}

.NewXpedx .dijitMenuItemHover {
}

.NewXpedx .dijitMenuItemIcon {
    width: 0;
    height: 0;
}

.NewXpedx .dijitMenuExpand {
    display: none;
}

.NewXpedx .dijitMenuExpandEnabled {
    width: 0;
    height: 0;

}

.NewXpedx .dijitMenuExpandInner {
    display: none;
}

.NewXpedx .dijitMenuSeparator {
    background-color: #f7f7f7;
}

.NewXpedx .dijitMenuSeparatorTop {
    border-bottom: 1px solid #9b9b9b;
}

.NewXpedx .dijitMenuSeparatorBottom {
    border-top: 1px solid #e8e8e8;
}
.NewXpedx .xpedxMainMenuTab {
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding:0;
    margin:0;
    color: #FFFFFF;
    cursor: pointer;
    cursor: hand;
    background: url( images/mainmenubg.gif );
}

.NewXpedx .xpedxMainMenuTabHover {
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding:0;
    margin:0;
    color: #FFFFFF;
    cursor: pointer;
    cursor: hand;
    background: url( images/mainmenubg.gif );
}

.NewXpedx .xpedxMainMenuTabUnhover {
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding:0;
    margin:0;
    color: #003399;
    background: url( images/mainmenubgInvert.gif );
}

.NewXpedx .bgXSubmenuTopCenter {
    background: transparent url( images/submenuTopCenter.gif ) repeat-x left;

}

.NewXpedx .bgXSubmenuTopLeft {
    background: transparent url( images/submenuTopLeft.gif ) no-repeat right;
    width: 11px;
    height: 8px;
}

.NewXpedx .bgXSubmenuTopRight {
    background: transparent url( images/submenuTopRight.gif ) no-repeat left;
    width: 11px;
    height: 8px;
}

.NewXpedx .bgXSubmenuCenterLeft {
    background: transparent url( images/submenuCenterLeft.gif ) repeat-y right;
    width: 11px;
}

.NewXpedx .bgXSubmenuCenterRight {
    background: transparent url( images/submenuCenterRight.gif ) repeat-y left;
    width: 11px;
}

.NewXpedx .bgXSubmenuBottomCenter {
    background: transparent url( images/submenuBottomCenter.gif ) repeat-x left;

}

.NewXpedx .bgXSubmenuBottomLeft {
    background: transparent url( images/submenuBottomLeft.gif ) no-repeat right;
    width: 11px;
    height: 8px;
}

.NewXpedx .bgXSubmenuBottomRight {
    background: transparent url( images/submenuBottomRight.gif ) no-repeat left;
    width: 11px;
    height: 8px;
}

/* Calendar.css*/
.NewXpedx .dijitCalendarIncrementControl {

    width: 15px;
    height: 15px;
    font-size: 1px;
}

.dj_ie6 .NewXpedx .dijitCalendarIncrementControl {
    padding: .1em;
}

.NewXpedx .dijitCalendarIncreaseInner,
    .NewXpedx .dijitCalendarDecreaseInner {
    visibility: hidden;
}

.NewXpedx .dijitCalendarDecrease {
    background: url( "images/cal_decrease_month.png" ) no-repeat;
}

.dj_ie6 .NewXpedx .dijitCalendarDecrease {
    background: url( "images/cal_decrease_month.gif" ) no-repeat bottom;
}

.NewXpedx .dijitCalendarIncrease {
    background: url( "images/cal_increase_month.png" ) no-repeat;
}

.dj_ie6 .NewXpedx .dijitCalendarIncrease {
    background: url( "images/cal_increase_month.gif" ) no-repeat bottom;
}

.NewXpedx table.dijitCalendarContainer {
    font-size: 100%;
    width:100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 0;
    margin: 0;
    background: white;
}

.NewXpedx .dijitCalendarMainContainer {
    font-size: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 0;
    margin: 0;
    background: #333333;

}

.NewXpedx .dijitCalendarPaddingLeft {
    width: 1px;  background: #333333;
}

.NewXpedx .dijitCalendarPaddingRight {
    width: 1px;   background: #333333;
}

.NewXpedx .dijitCalendarMonthContainer th {
    background: #333333;
    padding-top: .3em;
    padding-bottom: .2em;
    text-align: center;
}

.dj_ie6 .NewXpedx .dijitCalendarMonthContainer th {
    padding-top: .1em;
    padding-bottom: 0em;
    background: #333333;
}

.NewXpedx .dijitCalendarDayLabelTemplate {

    font-weight: normal;
    padding-top: .15em;
    padding-bottom: 0.4em;
    background: #333333;
    border: 0;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

.NewXpedx .dijitCalendarBodyContainer {
    background: white;
}

.NewXpedx .dijitCalendarMonthLabel {
    color: #ffffff;
    font-weight: bold;
    font-size:12px;
    background: #333333;

}

.dj_ie7 .NewXpedx .dijitCalendarDateTemplate,
    .dj_ie6 .NewXpedx .dijitCalendarDateTemplate {
    font-size: 0.8em;
    background-color: white;
}

.NewXpedx .dijitCalendarDateTemplate {

    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 0.3em 0.3em 0.2em 0.3em;

    background-color: white;
}

.NewXpedx .dijitCalendarWeekTemplate {
    background: white;
}

.NewXpedx .dijitCalendarPreviousMonth,
    .NewXpedx .dijitCalendarNextMonth {

    color: #999999;
    background: white;
    visibility: hidden;

}

.NewXpedx .dijitCalendarPreviousMonthDisabled,
    .NewXpedx .dijitCalendarNextMonthDisabled {

    background: red;
}

.NewXpedx .dijitCalendarCurrentMonth {

    background: white;
}

.NewXpedx .dijitCalendarCurrentMonthDisabled {

    background: red !important;
}

.NewXpedx .dijitCalendarCurrentDate {

    text-decoration: underline;
    font-weight: bold;
}

.NewXpedx .dijitCalendarCurrentDate {

    text-decoration: underline;
    font-weight: bold;
}

.NewXpedx .dijitCalendarSelectedDate {

    background-color: #bbc4d0 !important;
    color: black !important;
}

.NewXpedx .dijitCalendarFootContainer {
    border: 0;
    background-color: #333333 !important;
}

.NewXpedx .dijitCalendarFooterLabel {
    text-decoration: underline;
    text-align: center;
    color: white;
    cursor: pointer;
    cursor: hand;
}

.NewXpedx .dijitCalendarDisabledDate {
color:gray !important;

}
.NewXpedx .dijitCalendarFootContent {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;  

}



