.Swiss2 .dijitCalendarIncrementControl {

    width: 15px;
    height: 15px;
    font-size: 1px;
}

.dj_ie6 .Swiss2 .dijitCalendarIncrementControl {
    padding: .1em;
}

.Swiss2 .dijitCalendarIncreaseInner,
    .Swiss2 .dijitCalendarDecreaseInner {
    visibility: hidden;
}

.Swiss2 .dijitCalendarDecrease {
    background: url( "images/cal_decrease_month.png" ) no-repeat;
}

.dj_ie6 .Swiss2 .dijitCalendarDecrease {
    background: url( "images/cal_decrease_month.gif" ) no-repeat bottom;
}

.Swiss2 .dijitCalendarIncrease {
    background: url( "images/cal_increase_month.png" ) no-repeat;
}

.dj_ie6 .Swiss2 .dijitCalendarIncrease {
    background: url( "images/cal_increase_month.gif" ) no-repeat bottom;
}

.Swiss2 table.dijitCalendarContainer {
    font-size: 100%;
    width:100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 0;
    margin: 0;
    background: white;
}

.Swiss2 .dijitCalendarMainContainer {
    font-size: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 0;
    margin: 0;
    background: #333333;

}

.Swiss2 .dijitCalendarPaddingLeft {
    width: 1px;  background: #333333;
}

.Swiss2 .dijitCalendarPaddingRight {
    width: 1px;   background: #333333;
}

.Swiss2 .dijitCalendarMonthContainer th {
    background: #333333;
    padding-top: .3em;
    padding-bottom: .2em;
    text-align: center;
}

.dj_ie6 .Swiss2 .dijitCalendarMonthContainer th {
    padding-top: .1em;
    padding-bottom: 0em;
    background: #333333;
}

.Swiss2 .dijitCalendarDayLabelTemplate {

    font-weight: normal;
    padding-top: .15em;
    padding-bottom: 0.4em;
    background: #333333;
    border: 0;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

.Swiss2 .dijitCalendarBodyContainer {
    background: white;
}

.Swiss2 .dijitCalendarMonthLabel {
    color: #ffffff;
    font-weight: bold;
    font-size:12px;
    background: #333333;

}

.dj_ie7 .Swiss2 .dijitCalendarDateTemplate,
    .dj_ie6 .Swiss2 .dijitCalendarDateTemplate {
    font-size: 0.8em;
    background-color: white;
}

.Swiss2 .dijitCalendarDateTemplate {

    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 0.3em 0.3em 0.2em 0.3em;

    background-color: white;
}

.Swiss2 .dijitCalendarWeekTemplate {
    background: white;
}

.Swiss2 .dijitCalendarPreviousMonth,
    .Swiss2 .dijitCalendarNextMonth {

    color: #999999;
    background: white;
    visibility: hidden;

}

.Swiss2 .dijitCalendarPreviousMonthDisabled,
    .Swiss2 .dijitCalendarNextMonthDisabled {

    background: red;
}

.Swiss2 .dijitCalendarCurrentMonth {

    background: white;
}

.Swiss2 .dijitCalendarCurrentMonthDisabled {

    background: red !important;
}

.Swiss2 .dijitCalendarCurrentDate {

    text-decoration: underline;
    font-weight: bold;
}

.Swiss2 .dijitCalendarCurrentDate {

    text-decoration: underline;
    font-weight: bold;
}

.Swiss2 .dijitCalendarSelectedDate {

    background-color: #bbc4d0 !important;
    color: black !important;
}

.Swiss2 .dijitCalendarFootContainer {
    border: 0;
    background-color: #333333 !important;
}

.Swiss2 .dijitCalendarFooterLabel {
    text-decoration: underline;
    text-align: center;
    color: white;
    cursor: pointer;
    cursor: hand;
}

.Swiss2 .dijitCalendarDisabledDate {
color:gray !important;

}
.Swiss2 .dijitCalendarFootContent {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;  

}



