

.JD .dijitMenu {
	border: 1px solid #7eabcd;
	margin: 0px;
	padding: 0px;
}

.JD .dijitMenuItem {
    background-color: #f7f7f7;
    font: menu;
    margin: 0;
    cursor: pointer;
    cursor: hand;
    padding: 2px;
    font-weight: bold;
    font-size: 7pt;
}

.JD .dijitMenuPreviousButton, .JD .dijitMenuNextButton {
	font-style: italic;
}

.JD .dijitMenuItemHover {
    background: #006699;
    color: white;

}

.JD .dijitMenuItemIcon {
	width: 16px;
	height: 16px;
}

.JD .dijitMenuExpand {
	display:none;
}
.JD .dijitMenuExpandEnabled {
	width:16px;
	height:16px;
	display:block;
}

.JD .dijitMenuExpandInner {
	display:none;
}

.JD .dijitMenuSeparator {
	background-color: #f7f7f7;
}

/* separator can be two pixels -- set border of either one to 0px to have only one */
.JD .dijitMenuSeparatorTop {
	border-bottom: 1px solid #9b9b9b;
}

.JD .dijitMenuSeparatorBottom {
	border-top: 1px solid #e8e8e8;
}

.JD .dijitMenuHeader {
   background-color: #f7f7f7;
   font-weight: bold;
   font-size: 12px;
   color: black;
}