.dj_safari .NewXpedx .dijitPopup .dijitTooltipContainer,
    .dj_safari .NewXpedx .dijitPopup .dijitMenu {

    -webkit-box-shadow: 0px 5px 10px #adadad;
}

.NewXpedx .dijitPopup > div,
    .NewXpedx .dijitPopup > table {
    opacity: 1;
}

.NewXpedx .dijitMenu {
    border: 0;
    margin: 0;
    padding: 0;
    background: #000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #003399;
}

.NewXpedx .dijitMenuItem {
    background: url( images/submenuBg.gif );
    text-decoration: none;
    color: #003399;
    font-weight: bold;
}

.NewXpedx .dijitMenuPreviousButton, .NewXpedx .dijitMenuNextButton {
    font-style: italic;
}

.NewXpedx .dijitMenuItem td {
    background: url( images/submenuBg.gif );
}

.NewXpedx .dijitMenuItemHover {
}

.NewXpedx .dijitMenuItemIcon {
    width: 0;
    height: 0;
}

.NewXpedx .dijitMenuExpand {
    display: none;
}

.NewXpedx .dijitMenuExpandEnabled {
    width: 0;
    height: 0;

}

.NewXpedx .dijitMenuExpandInner {
    display: none;
}

.NewXpedx .dijitMenuSeparator {
    background-color: #f7f7f7;
}

.NewXpedx .dijitMenuSeparatorTop {
    border-bottom: 1px solid #9b9b9b;
}

.NewXpedx .dijitMenuSeparatorBottom {
    border-top: 1px solid #e8e8e8;
}
.NewXpedx .xpedxMainMenuTab {
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding:0;
    margin:0;
    color: #FFFFFF;
    cursor: pointer;
    cursor: hand;
    background: url( images/mainmenubg.gif );
}

.NewXpedx .xpedxMainMenuTabHover {
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding:0;
    margin:0;
    color: #FFFFFF;
    cursor: pointer;
    cursor: hand;
    background: url( images/mainmenubg.gif );
}

.NewXpedx .xpedxMainMenuTabUnhover {
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    font-weight: bold;
    font-size: 12px;
    padding:0;
    margin:0;
    color: #003399;
    background: url( images/mainmenubgInvert.gif );
}

.NewXpedx .bgXSubmenuTopCenter {
    background: transparent url( images/submenuTopCenter.gif ) repeat-x left;

}

.NewXpedx .bgXSubmenuTopLeft {
    background: transparent url( images/submenuTopLeft.gif ) no-repeat right;
    width: 11px;
    height: 8px;
}

.NewXpedx .bgXSubmenuTopRight {
    background: transparent url( images/submenuTopRight.gif ) no-repeat left;
    width: 11px;
    height: 8px;
}

.NewXpedx .bgXSubmenuCenterLeft {
    background: transparent url( images/submenuCenterLeft.gif ) repeat-y right;
    width: 11px;
}

.NewXpedx .bgXSubmenuCenterRight {
    background: transparent url( images/submenuCenterRight.gif ) repeat-y left;
    width: 11px;
}

.NewXpedx .bgXSubmenuBottomCenter {
    background: transparent url( images/submenuBottomCenter.gif ) repeat-x left;

}

.NewXpedx .bgXSubmenuBottomLeft {
    background: transparent url( images/submenuBottomLeft.gif ) no-repeat right;
    width: 11px;
    height: 8px;
}

.NewXpedx .bgXSubmenuBottomRight {
    background: transparent url( images/submenuBottomRight.gif ) no-repeat left;
    width: 11px;
    height: 8px;
}
